<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">

	<title class="pageTitle">{{ site.page_title }}</title>
	<meta name="description" content="{{ site.app_description }}">

	<meta property="og:title" content="{{ site.page_title }}" />
	<meta property="og:description" content="{{ site.app_description }}" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://reviiv.me/" />
	<link rel="image_src" href="https://reviiv.me/assets/icon.jpg" />
	<meta property="og:image" content="https://reviiv.me/assets/icon.jpg" />
	<meta property="og:image:width" content="205" />
	<meta property="og:image:height" content="205" />
	<meta name="twitter:image" content="https://reviiv.me/assets/icon.jpg" />

	<link rel="shortcut icon" href="{{ site.app_icon | relative_url }}">

	<!-- Smart App Banner -->
	{% if site.enable_smart_app_banner %}
		<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
	{% endif %}

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">


	<!-- Global site tag (gtag.js) - Google Ads: 695008955 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-695008955"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'AW-695008955');
	</script>

	<script>
		function gtag_report_conversion(url) {
			var callback = function () {
				if (typeof(url) != 'undefined') {
					window.location = url;
				}
			};
			gtag('event', 'conversion', {
				'send_to': 'AW-695008955/6Of5CMPxt9wDELv9s8sC',
				'event_callback': callback
			});
			return false;
		}
	</script>

	<!-- adsense -->
<!--	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4701067082338622" crossorigin="anonymous"></script>-->
</head>
